This update will install a Beta version of hentaiOS {{.Codename}} ({{.Tag}}) on your device. This pre-release version may contains errors and defects that can affect normal functioning of your device. Downloading updates over cellular data or metered Wi-Fi networks may lead to additional charges.

To learn more about the hentaiOS Dogfood Program or Opt-out, visit [{{.DogfoodURL}}]({{.DogfoodURL}})
