CONFIDENTIAL INTERNAL ONLY -- This is a confidential Furry-only OTA update to update your {{device}} with {{tag}} update.

You may use your device normally but do not discuss or comment on this update externally. Send feedback to {{dogfood_discuss}}. See {{dogfood_url}} for more info!
